# ...

TELEMETRY_API_ENDPOINT="https://api.example.com"
TELEMETRY_API_VERSION="v1"

# TELEMETRY_CLIENT_ID=example
# TELEMETRY_API_KEY=1234567890

TELEMETRY_REPORT_PACKAGES="true"
TELEMETRY_REPORT_SYSTEM_START="true"
TELEMETRY_REPORT_SYSTEM_STOP="true"

TELEMETRY_REPORT_PENDING_RESTART="true"
TELEMETRY_REPORT_PENDING_UPDATES="true"
TELEMETRY_REPORT_SYSTEM_ALIVE="true"
